<div class="Container">
        <div class="OrderContainer">
                <div class="Title flex">
                        <h3 class="Text">IMAGE</h3>
                        <h3 class="Product">PRODUCT</h3>
                        <h3 class="Text">PRICE</h3>
                        <h3 class="Text">QUANTITY</h3>
                        <h3 class="Text">TOTAL</h3>
                        <h3 class="Text">REMOVE</h3>
                </div>
                <div class="Content flex">
                        <div class=" Image">
                                <img src="assets/Pictures/iphonex-TA.jpg" alt="">
                        </div>
                        <div class="Product">
                                <h4>Lorem Ipsum</h4>
                        </div>
                        <div class="Price">
                                <h4>$29.00</h4>
                        </div>
                        <div class="Quantity flex">
                                <div class="Border">
                                        <h4>1</h4>
                                </div>
                        </div>
                        <div class="Total">
                                <h4>$29.00</h4>
                        </div>
                        <div class="Remove flex">
                                <img src="assets/Pictures/Remove.svg" alt="">
                        </div>
                </div>
        </div>
</div>

