@import '../../../styles/variables';

.Container{
        .OrderContainer{
                margin:3% 10%;
                .Title{
                        height:50px;
                        text-align:center;
                        line-height: 50px;
                        background-color: $gray-400;
                        .Text{
                                width:15%;
                                height:100%;
                                margin:0;
                                padding:0;
                        }
                        .Product{
                                width:25%;
                                height:100%;
                                margin:0;
                                padding:0;
                        }
                }
                .Content{
                        height:250px;
                        width:100%;
                        .Image{
                                width:15%;
                                //background-color: red;
                                height:100%;
                                padding:1%;
                                img{
                                        height:98%;
                                        width:98%;
                                }
                        }
                        .Product{
                                width:25%;
                                //background-color:black;
                                height:100%;
                                text-align:center;
                                line-height:250px;
                                h4{
                                        //font-size:1rem;
                                        margin:0;
                                }
                        }
                        .Price{
                                width:15%;
                                //background-color:yellow;
                                height:100%;
                                text-align:center;
                                line-height: 250px;
                                h4{
                                        //font-size:1rem;
                                        margin:0;
                                        color: $gray-600;
                                }
                        }
                        .Quantity{
                                width:15%;
                                //background-color:blue;
                                height:100%;
                                justify-content:center;
                                align-items:center;
                                .Border{
                                        margin:35% 15%;
                                        //background-color:black;
                                        height:30%;
                                        width:70%;
                                        border:1px solid $gray-400;
                                        line-height:75px;
                                        h4{
                                                text-align:center;
                                                margin:0;

                                        }
                                }

                        }
                        .Total{
                                width:15%;
                                //background-color:purple;
                                height:100%;
                                text-align:center;
                                line-height: 250px;
                                h4{
                                        //font-size:1rem;
                                        margin:0;
                                        color: $gray-600;
                                }
                        }
                        .Remove{
                                width:15%;
                                //background-color:green;
                                height:100%;
                                justify-content:center;
                                align-items:center;
                                img{
                                        height:50px;
                                        width:50px;
                                }
                        }
                }
        }
}

.flex{
        display:flex;
}
