<div class="big-container">
    <div class="center-container">
        <div class="container-logo">
                <a routerLink="/"><img src="../../../assets/Pictures/SewainAjaLogo.png" alt="logo"></a>
        </div>

        <div class="box-container">
            <h1>Sign Up</h1>

            <form role="form" [formGroup]="registerForm" (submit)="register()">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <input type="email" class="form-control">
                </div>

                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control">
                </div>

                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    <input type="password" class="form-control">
                </div>

                <div class="form-group">
                    <button class="btn btn-register" [disabled]="registerForm.invalid">
                        Sign Up
                    </button>
                </div>
            </form>

            <p>
                Sudah punya akun? <a routerLink="/auth/login">Sign In</a>
            </p>
        </div>
    </div>
</div>
