<div class="Container">
        <div class="Title-Container">
                <img src="assets/Pictures/iphone.jpg" alt="">
                <div class="Title">
                        <div class="MainTitle">
                                {{ title }}
                        </div>
                        <div class="SubTitle">
                                {{ subtitle }}
                        </div>
                </div>
</div>
</div>
