@import '../../../styles/variables';

.Container {
        height: 300px;
        margin: 5% 2% 5% 2%;

        .Title-Container {
                height: 100%;
                position: relative;
                text-align: center;
                //background-color: rgba(255, 255, 255,1);
                color: $gray-700;

                .Title {
                        //background-color: rgba(255, 255, 255,0.5);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        .MainTitle {
                                font-size: 2rem;
                                font-weight: bold;
                        }

                        .SubTitle {
                                margin-top: 10px;
                                font-size: 1rem;
                        }
                }
        }
}
