.Product-Container {
    margin: 50px 10%;

    .Product {
        margin: 0 -15px;
        //justify-content: space-between;
        flex-flow:row wrap;

        .Product-Column {
            width: 25%;
            padding: 10px 15px;

            .Product-Content {
                position: relative;
                overflow: hidden;
                height: 320px;
                box-shadow: 0 5px 20px rgba(0, 0, 0, .2);

                &:hover {
                    &:after {
                        background: rgba(0, 0, 0, .8);
                    }

                    .ProductAction {
                        .ProductActionItem {
                            transform: translateX(0);
                            opacity: 1;
                        }
                    }
                }

                &:after {
                    transition: all .35s ease;
                    content: ' ';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    //background: linear-gradient(to top, rgba(35, 35, 37, .9) 0%, rgba(35, 35, 37, .45) 35%, rgba(0, 0, 0, 0) 100%);
                    background: rgba(0, 0, 0, .4);
                }

                .ProductImage {
                    width: 100%;
                    height: 100%;
                }

                .ProductDesc {
                    position: absolute;
                    z-index: 9;
                    bottom: 20px;
                    left: 20px;
                    color: white;

                    .ProductName {
                        margin: 0;
                    }

                    .ProductPrice {
                        display: block;
                        color: red;
                        font-size: 14px;
                        margin-top: 8px;
                    }
                }

                .ProductAction {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    z-index: 9;

                    .ProductActionItem {
                        width: 32px;
                        height: 32px;
                        border: 1px solid white;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        margin-bottom: 14px;
                        transform: translateX(50px);
                        opacity: 0;
                        transition: all .2s ease;

                        &:nth-child(2) {
                            transition-delay: .075s;
                        }

                        i {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.flex {
        display: flex;
}
