@import 'variables';

.btn {
    outline: 0;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    padding: 8px 12px;
    font-size: 16px;

    &.btn-primary {
        background: $primary;
        color: $white;

        &:hover {
            background: $darker;
        }
    }

    &.btn-primary-outline {
        border: 2px solid $primary;
        color: $primary;
        background: none;

        &:hover {
            //border-color:$primary;
            background-color: $primary;
            color: $white;
        }
    }

    i {
        margin-right: 7px;
    }
}
