$white: #fff !default;
$gray-100: #f1f3f5 !default;
$gray-200: #f4f5f7 !default;
$gray-300: #eee !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$light-blue: #007bff !default;
$soft-blue: #00aadc !default;
$gray-light: #a0a0a0 !default;
$softer-gray: #f6f6f6 !default;
$dark-grey: #2e4453 !default;
$soft-grey: #4f748e !default;
$tosca: #26a59a !default;
$teal: #1f867d !default;
$dark-green: #1c7c73 !default;

$gold: #d4af37 !default;
$accent: #aa8c2c !default;
$blue: #15406a !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #deebff !default;

$primary: $gold !default;
$darken: #ddbf5f !default;
//$darken: $accent !default;
$darker: #887023 !default;
$secondary: $gray-300 !default;
$success: $green !default;
$info: $tosca !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
