<div class="Master-Wrapper">
    <div class="Promo-Container">
        <div class="Promo">
            <img src="assets/Pictures/iphone.jpg" alt="">
            <div class="Promo-Text-Container">
                <!--<div class="Promo-Text1"> this is it</div>
                <div class="Promo-Text2">the</div>
                <div class="Promo-Text3">apocalypse</div>-->
            </div>
        </div>
    </div>

    <input type="text" [(ngModel)]="email">

    <div class="Category-Container flex">
        <div class="Category">
            <a href="#">
                <div class="CategoryContent">
                    <img src="assets/Pictures/iphone.jpg" alt="">
                    <div class="Category-Description">
                        <h3>Laptop</h3>
                        <label>
                            Shop Now
                            <i class="fas fa-arrow-right"></i>
                        </label>
                    </div>
                </div>
            </a>
        </div>
        <div class="MidCategory flex">
            <div class="Mid-Category-Content">
                <a href="#">
                    <div class="MidCategoryItem">
                        <img src="assets/Pictures/iphone.jpg" alt="">
                        <div class="Category-Description">
                            <h3>Laptop</h3>
                            <label>
                                Shop Now
                                <i class="fas fa-arrow-right"></i>
                            </label>
                        </div>
                    </div>
                </a>
            </div>
            <div class="Mid-Category-Content">
                <a href="#">
                    <div class="MidCategoryItem">
                        <img src="assets/Pictures/iphone.jpg" alt="">
                        <div class="Category-Description">
                            <h3>Speaker</h3>
                            <label>
                                Shop Now
                                <i class="fas fa-arrow-right"></i>
                            </label>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="Category">
            <a href="#">
                <div class="CategoryContent">
                    <img src="assets/Pictures/iphone.jpg" alt="">
                    <div class="Category-Description">
                        <h3>Smartphone</h3>
                        <label>
                            Shop Now
                            <i class="fas fa-arrow-right"></i>
                        </label>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="OurProduct">
        <div class="OurProduct-Text-Container">
            <h2>Our Products</h2>
            <p class="OurProduct-Subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur deserunt
                ducimus enim error eum inventore porro quas rerum velit?
            </p>
        </div>

        <div class="ProductCategory flex">
            <div class="ProductCategoryItem active">Decoration</div>
            <div class="ProductCategoryItem">Lighting</div>
            <div class="ProductCategoryItem">Storage</div>
            <div class="ProductCategoryItem">Living room</div>
        </div>
    </div>

    <div class="Product-Container">
        <div class="Product flex">
            <div class="Product-Column">
                <a href="#">
                    <div class="Product-Content">
                        <div class="ProductImage"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                        <div class="ProductDesc">
                            <h3 class="ProductName">lorem ipsum</h3>
                            <label class="ProductPrice">
                                $100.00
                            </label>
                        </div>

                        <div class="ProductAction">
                            <div class="ProductActionItem">
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>

                            <div class="ProductActionItem">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="Product-Column">
                <a href="#">
                    <div class="Product-Content">
                        <div class="ProductImage"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                        <div class="ProductDesc">
                            <h3 class="ProductName">lorem ipsum</h3>
                            <label class="ProductPrice">
                                $100.00
                            </label>
                        </div>

                        <div class="ProductAction">
                            <div class="ProductActionItem">
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>

                            <div class="ProductActionItem">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="Product-Column">
                <a href="#">
                    <div class="Product-Content">
                        <div class="ProductImage"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                        <div class="ProductDesc">
                            <h3 class="ProductName">lorem ipsum</h3>
                            <label class="ProductPrice">
                                $100.00
                            </label>
                        </div>

                        <div class="ProductAction">
                            <div class="ProductActionItem">
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>

                            <div class="ProductActionItem">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="Product-Column">
                <a href="#">
                    <div class="Product-Content">
                        <div class="ProductImage"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                        <div class="ProductDesc">
                            <h3 class="ProductName">lorem ipsum</h3>
                            <label class="ProductPrice">
                                $100.00
                            </label>
                        </div>

                        <div class="ProductAction">
                            <div class="ProductActionItem">
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>

                            <div class="ProductActionItem">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="Carousel-Container">
        <div class="Carousel">
            <img src="assets/Pictures/iphone.jpg" alt="">
        </div>
    </div>

    <div class="Product-Container">
        <div class="Product flex">
            <div class="Product-Column">
                <a href="#">
                    <div class="Product-Content">
                        <div class="ProductImage"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                        <div class="ProductDesc">
                            <h3 class="ProductName">lorem ipsum</h3>
                            <label class="ProductPrice">
                                $100.00
                            </label>
                        </div>

                        <div class="ProductAction">
                            <div class="ProductActionItem">
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>

                            <div class="ProductActionItem">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="Product-Column">
                <a href="#">
                    <div class="Product-Content">
                        <div class="ProductImage"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                        <div class="ProductDesc">
                            <h3 class="ProductName">lorem ipsum</h3>
                            <label class="ProductPrice">
                                $100.00
                            </label>
                        </div>

                        <div class="ProductAction">
                            <div class="ProductActionItem">
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>

                            <div class="ProductActionItem">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="Product-Column">
                <a href="#">
                    <div class="Product-Content">
                        <div class="ProductImage"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                        <div class="ProductDesc">
                            <h3 class="ProductName">lorem ipsum</h3>
                            <label class="ProductPrice">
                                $100.00
                            </label>
                        </div>

                        <div class="ProductAction">
                            <div class="ProductActionItem">
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>

                            <div class="ProductActionItem">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="Product-Column">
                <a href="#">
                    <div class="Product-Content">
                        <div class="ProductImage"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                        <div class="ProductDesc">
                            <h3 class="ProductName">lorem ipsum</h3>
                            <label class="ProductPrice">
                                $100.00
                            </label>
                        </div>

                        <div class="ProductAction">
                            <div class="ProductActionItem">
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>

                            <div class="ProductActionItem">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--<div class="Advertisement-Container">
        <div class="Advertisement flex">
            <div class="Ads">
                <img src="assets/Pictures/iphone.jpg" alt="">
                &lt;!&ndash;<div class="AdsContent">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
            </div>
            <div class="Ads">
                <img src="assets/Pictures/iphone.jpg" alt="">
                &lt;!&ndash;<div class="AdsContent">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
            </div>
        </div>
    </div>-->

    <div class="Services-Container">
        <div class="Services flex">
            <div class="Service">
                <div class="Service-Content">
                    <i class="fas fa-4x fa-comments"></i>
                </div>
                <h4>24/7 Support</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, harum!
                </p>
            </div>
            <div class="Service">
                <div class="Service-Content">
                    <i class="fas fa-4x fa-bolt"></i>
                </div>
                <h4>Fast Delivery</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptas!
                </p>
            </div>
            <div class="Service">
                <div class="Service-Content">
                    <i class="fas fa-4x fa-comments"></i>
                </div>
                <h4>24/7 Support</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, excepturi.
                </p>
            </div>
        </div>
    </div>
</div>


