<!--<div class="Subscription-Container">
    <div class="Subscription BorderTop">
        <div class="Text">
            kevin
            nixon
        </div>
    </div>
</div>-->

<div class="Copyright-Container">
    <div class="Copyright BorderTop flex">
        <div class="Left">
            <img src="assets/Pictures/SewainAjaLogo.png" alt="">
        </div>
        <div class="Middle flex">
            Lorem Ipsum
        </div>
        <div class="Right flex">
            <img src="assets/Pictures/SearchSymbol.svg" alt="">
            <img src="assets/Pictures/SearchSymbol.svg" alt="">
            <img src="assets/Pictures/SearchSymbol.svg" alt="">
            <img src="assets/Pictures/SearchSymbol.svg" alt="">
        </div>
    </div>
</div>
