<div class="NavBar">
    <div class="Logo">
        <a routerLink="/"><img src="assets/Pictures/SewainAjaLogo.png" alt=""></a>
        <a routerLink="/auth/login" class="Account"><img src="assets/Pictures/account_logo.svg" alt=""></a>
    </div>
    <div class="Menu">
        <ul>
            <li>
                <a routerLink="/products">Products</a>
            </li>
            <li>
                <a routerLink="/order">Order</a>
            </li>
        </ul>
    </div>
    <div class="Features">
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-search"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user"></i>
                </a>
            </li>
        </ul>
        <!--<div class="Features"><img src="assets/Pictures/SearchSymbol.svg" alt=""></div>-->
        <!--<div class="Features" routerLink="/cart"><img src="assets/Pictures/ShopingBasket.svg" alt=""></div>-->
        <!--<div class="Features"><img src="assets/Pictures/ListSymbol.svg" alt=""></div>-->
    </div>
</div>
