@import '../../../styles/variables';

.NavBar {
    display: flex;
    height: 75px;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 10%;



    .Logo {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .Account {
            img {
                height: 30px;
                width: 30px;
            }
        }

        img {
            height: 50px;
            width: 50px;
        }
    }

    .Menu {
        width: 60%;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                margin: 0 5%;

                a {
                    color: $black;

                }
            }
        }
    }

    .Features {
        width: 20%;


        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
            height: 100%;
            margin: 0;
            padding: 0;

            li {
                margin-left: 20px;

                a {
                    color: black;
                }
            }
        }
    }
}
