<app-title title="Product" subtitle ="product name: {{product.name}}"></app-title>

<div class="Product-Container">
        <div class="Product flex">
                <div class="ProductImg"><img src="assets/Pictures/iphone.jpg" alt=" "></div>
                <div class="ProductDesc flex">
                        <div class="ProductInfo">
                                <p class="Brand">Brands: <span class="Data">Data</span></p>
                                <h2 class="Name">{{product.name}}</h2>
                                <div class="Review"></div>
                                <h2 class="Price">{{ product.product_prices[0].product_price | currency:'IDR. ' }}</h2>
                                <p class="Code">Product Code: <span class="Data">prod - {{product.id}}</span></p>
                                <p class="Availability"> Availability: <span class="Data">{{product.stock}}</span> </p>
                        </div>
                        <div class="Description">
                                <p class="Desc">Put item desc here</p>
                        </div>
                        <div class=" Status flex">
                                <div class="Stats flex">
                                        <h3>Qty</h3>
                                        <div class="Quantity"> 1 </div>
                                        <div class="Add">
                                                <button class="btn btn-primary-outline" (click)="addToCart()">
                                                        <i class="fas fa-cart-arrow-down"></i>
                                                        Rent
                                                </button>
                                        </div>
                                        <!--<div class="Love"></div>-->
                                </div>
                                <!--<h3>SHARE THIS PRODUCT</h3>-->
                                <!--<div class="Logo flex">-->
                                        <!--<div class="Image"><img src="assets/Pictures/SearchSymbol.svg" alt=""></div>-->
                                        <!--<div class="Image"><img src="assets/Pictures/SearchSymbol.svg" alt=""></div>-->
                                        <!--<div class="Image"><img src="assets/Pictures/SearchSymbol.svg" alt=""></div>-->
                                        <!--<div class="Image"><img src="assets/Pictures/SearchSymbol.svg" alt=""></div>-->
                                <!--</div>-->
                                <!--<div class="Tags">-->
                                        <!--<p>Tags: testing, testing</p>-->
                                <!--</div>-->
                        </div>
               </div>
        </div>
</div>

<div class="Related-Container">
        <div class="Related-Product flex">
                <div class="Img-Container"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                <div class="Img-Container"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                <div class="Img-Container"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                <div class="Img-Container"><img src="assets/Pictures/iphone.jpg" alt=""></div>
        </div>
</div>



<div class="Review-Container">
        <div class="Review BorderTop BorderBottom">
                <div class="Text">
                        REVIEW AND DESCRIPTION
                </div>
        </div>
</div>

<div class="Bottom-Product-Container">
        <div class="Product flex">
                <div class="Product-Column">
                        <a href="#">
                                <div class="Product-Content">
                                        <div class="ProductImage"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                                        <div class="ProductDesc">
                                                <h3 class="ProductName">lorem ipsum</h3>
                                                <label class="ProductPrice">
                                                        $100.00
                                                </label>
                                        </div>

                                        <div class="ProductAction">
                                                <div class="ProductActionItem">
                                                        <i class="fas fa-cart-arrow-down"></i>
                                                </div>

                                                <div class="ProductActionItem">
                                                        <i class="fas fa-heart"></i>
                                                </div>
                                        </div>
                                </div>
                        </a>
                </div>
                <div class="Product-Column">
                        <a href="#">
                                <div class="Product-Content">
                                        <div class="ProductImage"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                                        <div class="ProductDesc">
                                                <h3 class="ProductName">lorem ipsum</h3>
                                                <label class="ProductPrice">
                                                        $100.00
                                                </label>
                                        </div>

                                        <div class="ProductAction">
                                                <div class="ProductActionItem">
                                                        <i class="fas fa-cart-arrow-down"></i>
                                                </div>

                                                <div class="ProductActionItem">
                                                        <i class="fas fa-heart"></i>
                                                </div>
                                        </div>
                                </div>
                        </a>
                </div>
                <div class="Product-Column">
                        <a href="#">
                                <div class="Product-Content">
                                        <div class="ProductImage"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                                        <div class="ProductDesc">
                                                <h3 class="ProductName">lorem ipsum</h3>
                                                <label class="ProductPrice">
                                                        $100.00
                                                </label>
                                        </div>

                                        <div class="ProductAction">
                                                <div class="ProductActionItem">
                                                        <i class="fas fa-cart-arrow-down"></i>
                                                </div>

                                                <div class="ProductActionItem">
                                                        <i class="fas fa-heart"></i>
                                                </div>
                                        </div>
                                </div>
                        </a>
                </div>
                <div class="Product-Column">
                        <a href="#">
                                <div class="Product-Content">
                                        <div class="ProductImage"><img src="assets/Pictures/iphone.jpg" alt=""></div>
                                        <div class="ProductDesc">
                                                <h3 class="ProductName">lorem ipsum</h3>
                                                <label class="ProductPrice">
                                                        $100.00
                                                </label>
                                        </div>

                                        <div class="ProductAction">
                                                <div class="ProductActionItem">
                                                        <i class="fas fa-cart-arrow-down"></i>
                                                </div>

                                                <div class="ProductActionItem">
                                                        <i class="fas fa-heart"></i>
                                                </div>
                                        </div>
                                </div>
                        </a>
                </div>
        </div>
</div>
