@import '../../../styles/variables';
@import '../../../styles/input';

.Container {
    z-index: 0;

    .CartContainer {
        margin: 3% 10%;

        .Title {
            height: 50px;
            text-align: center;
            line-height: 50px;
            background-color: $gray-400;

            .Text {
                width: 15%;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            .Product {
                width: 25%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        }

        .Content {
            height: 250px;
            width: 100%;

            .Image {
                width: 15%;
                //background-color: red;
                height: 100%;
                padding: 1%;

                img {
                    height: 98%;
                    width: 98%;
                }
            }

            .Product {
                width: 25%;
                //background-color:black;
                height: 100%;
                text-align: center;
                line-height: 250px;

                h4 {
                    //font-size:1rem;
                    margin: 0;
                }
            }

            .Price {
                width: 15%;
                //background-color:yellow;
                height: 100%;
                text-align: center;
                line-height: 250px;

                h4 {
                    //font-size:1rem;
                    margin: 0;
                    color: $gray-600;
                }
            }

            .Quantity {
                width: 15%;
                //background-color:blue;
                height: 100%;
                justify-content: center;
                align-items: center;

                .Border {
                    margin: 35% 15%;
                    //background-color:black;
                    height: 30%;
                    width: 70%;
                    border: 1px solid $gray-400;
                    line-height: 75px;

                    h4 {
                        text-align: center;
                        margin: 0;

                    }
                }

            }

            .Total {
                width: 15%;
                //background-color:purple;
                height: 100%;
                text-align: center;
                line-height: 250px;

                h4 {
                    //font-size:1rem;
                    margin: 0;
                    color: $gray-600;
                }
            }

            .Remove {
                width: 15%;
                //background-color:green;
                height: 100%;
                justify-content: center;
                align-items: center;

                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }

    .Shipping-Container {
        margin: 3% 10%;
        height: 400px;

        .Shipping {
            height: 100%;
            width: 66%;
            //background-color: yellow;

            .Left {
                width: 100%;
                height: 100%;
                //padding:0% 0% 3% 0%;
                .Content {
                    //background-color: $black;
                    height: 100%;
                    width: 100%;
                    //padding
                    .Title {
                        text-decoration: underline;
                        //color:$red;
                        margin-top: 0;
                    }

                    .Address {
                        color: $gray-500;

                        .data {
                            color: $black;
                        }
                    }

                    .shipping-address-container {
                        margin-bottom: 20px;

                        > * {
                            margin: 0;

                            &:not(:last-child) {
                                margin-bottom: 8px;
                            }
                        }

                        label {
                            display: block;
                        }
                    }
                }
            }
        }

        .Summary {
            height: 100%;
            width: 33%;
            //background-color: $red;
            .Info {
                background-color: $gray-300;
                width: 100%;
                height: 70%;
                padding: 10%;

                .Title {
                    text-align: left;
                    height: 100%;
                    width: 100%;

                    h2 {
                        text-decoration: underline;
                        margin: 0;
                    }

                    .Text {
                        display: flex;
                        justify-content: space-between;
                        margin: 0;

                        h2 {
                            text-decoration: none;
                            margin-top: 2%;
                        }
                    }
                }
            }

            .Button-Container {
                height: 30%;
                justify-content: flex-end;
                align-items: center;

                .btn {
                    padding: 10px 12px;
                }
            }
        }
    }
}

.PopUp {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    transition: all 0.2s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    top: 0;
    left: 0;

    .PopUp-Container {
        margin: 0 auto;
        margin-top: 100px;
        width: 50%;
        background: $white;
        padding: 20px;
        position: relative;

        .flex {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    .Title {
        margin: 0;
        margin-top: 7px;
    }

    .Close {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 20px;
        border: 2px solid $black;
        cursor: pointer;
        padding: 6px;
        transition: all .3s ease;

        &:hover {
            background: $black;
            color: $white;
        }
    }

    .hide {
        display: none;
    }

    .form-container {
        .back {
            margin-right: 10px;
            border: 2px solid $black;
            cursor: pointer;
            padding: 6px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: $black;
                color: $white;
            }
        }

        .form-group {
            margin-bottom: 20px;
        }

        .Submit {
            justify-content: center;
            text-align: center;

            button {
                text-align: center;
                color: $white;
                background-color: $black;
                border: 0;
                padding: 8px 12px;

                &[disabled] {
                    opacity: .4;
                    cursor: not-allowed;
                }

                &:hover:not([disabled]) {
                    background-color: $primary;
                }
            }
        }
    }

    .address-container {
        .address-list-container {
            margin-bottom: 20px;

            .address-list-wrapper {
                padding: 20px;
                border: 1px solid $primary;
                cursor: pointer;
                position: relative;

                &:hover, &.selected {
                    opacity: .4;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                * {
                    cursor: pointer;
                }

                > * {
                    margin: 0;

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }

                label {
                    display: block;
                }

                .chosen {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.Visible {
    visibility: visible;
    opacity: 1;
    transition: all 0.1s ease;
}


.flex {
    display: flex;
}

.BorderBottom {
    border-bottom: 1px solid black;
}
